<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	<meta property="og:description" content="{{ page.description }}">
	{% endif %}
	{% if page.share_image %}
	<meta property="og:image" content="{{ site.url }}/assets/img/{{ page.share_image }}">
	{% endif %}
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:url" content="{{ site.url }}">
	<meta name="author" content="{{ site.author }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le styles -->
	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>

	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.BASE_PATH }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.BASE_PATH }}/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.BASE_PATH }}/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{ site.BASE_PATH }}/manifest.json">
	<link rel="mask-icon" href="{{ site.BASE_PATH }}/safari-pinned-tab.svg" color="#2c3e50">
	<meta name="theme-color" content="#2c3e50">
</head>

<body>
	<nav class="navbar navbar-default visible-xs" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ site.BASE_PATH }}/">
				<img src="{{ site.BASE_PATH }}/assets/img/logo.svg" alt="Raspberry Turk Logo" style="width: 48px !important;" />
				<h1>{{ site.title }}</h1>
			</a>
			<div class="navbar-brand-subnav">
				<ul>
					<li><a href="{{ site.BASE_PATH }}/">Home</a></li>
					<li><a href="https://github.com/joeymeyer/raspberryturk">Github</a></li>
					<li><a href="{{ site.BASE_PATH }}/aboutme.html">About Me</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="col-sm-3 sidebar hidden-xs" style="{% if site.sidebar_background_image %}background: url({{site.sidebar_background_image}}) no-repeat !important;{% endif %}">
		{% include sidebar.html %}
	</div>

	<div id="page-content" class="col-sm-9 col-sm-offset-3">
		{{ content }}

		<footer>
			<hr/>
			<p>
				<center>&copy; {{ site.time | date: '%Y' }} <a href="/aboutme.html">{{ site.author }}</a>. The code for this website is open source and <a href="{{ site.website_github_repo }}">hosted on Github</a>.</center>
			</p>
		</footer>
	</div>
</body>
</html>
