<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/img/logo.svg" alt="Raspberry Turk Logo" width=160px />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.description %}
<div id="bio" class="text-center">
	{{ site.description }}
</div>
{% endif %}

<ul id="sidebar-nav">
	<a href="{{ site.BASE_PATH }}/"><li>Home</li></a>
	<a href="https://github.com/joeymeyer/raspberryturk"><li>Github</li></a>
	<a href="{{ site.BASE_PATH }}/aboutme.html"><li>About Me</li></a>
</ul>

<!-- sidebar.html end -->
