@import url(//fonts.googleapis.com/css?family=Ubuntu|Open+Sans:500&subset=latin,latin-ext);

body{
	color: #2c3e50;
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
	background-color: #2c3e50;
	color: #fff;
}

.sidebar li {
  font-family: 'Ubuntu', sans-serif;
}

.sidebar-header {
	text-align: center;
  margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

.page-image {
  width: auto;
  max-width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.page-image-caption {
  max-width: 100%;
  margin-bottom: 2em;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777; }

#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

.navbar-brand {
  background-color: #2c3e50;
  width: 100%;
  height: 96px;
  padding: 0px;
}

.navbar-brand img {
  margin: 9px;
}

.navbar-brand h1 {
  display: inline;
  font-size: 1em;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.navbar-brand-subnav {
  color: white;
}

.navbar-brand-subnav { padding:0; margin:0; width:100%; float:left; position: absolute; bottom: 0;}
.navbar-brand-subnav ul { padding:0; margin:0; list-style:none; border:0; float:left; width: 100%;}
.navbar-brand-subnav ul li { float:left; margin-left: 5.16%; margin-right: 5.16%; margin-bottom: 9px; padding:0; border:0; width: 23%; text-align: center;text-transform: uppercase;b}
.navbar-brand-subnav ul li a { float:left; margin:0; padding:0; text-decoration:none; font-size: 1em; color: white;}

.notebook-header {
  padding: 18px 66px 18px 66px;
  color: #2c3e50;
}

.notebook-header code {
  color: #2c3e50;
  background: rgba(44, 62, 80, 0.1);
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #2c3e50;
}

.page-header {
  position: relative;
  margin: 0px;
  padding: 0px;
	color: #2c3e50;
  border-bottom: none;
}

.page-header-title h1 {
  position: absolute;
  font-size: 36pt;
  left: 56px;
  bottom: 44px;
  z-index: 999;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin-right: 56px;
  border-radius: 8px;
}

.page-body {
  margin: 66px;
}

.page-body h1 {
  margin-top: 44pt;
}

.legend {
  width: 100%;
  background-color: #a8b0c3;
  margin: 0;
  padding-bottom: 2em;
}

.turk-hero img {
  margin-left: 25%;
  width: 322px;
  height: 572px;
}

.legend-nav {
  margin-top: 60px;
}

.legend-nav:before {
  content: '';
  height: 100%;
}
.legend-nav:before, ul {
  display: inline-block;
  vertical-align: middle;
}

.legend-nav h1 {
  font-size: 1em;
}

.legend-nav hr {
  margin-bottom: 1em;
}

.legend-nav ul {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  line-height: 120%;
  list-style-type: none;
}

.container {
  max-width: 100%;
}

@media only screen and (max-width: 1080px) {
  .turk-hero img {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 915px) {
  .turk-hero img {
    margin-top: 80px;
    width: 270px;
    height: 480px;
  }
}

.legend-nav a {
  color: #2c3e50;
}

.legend-nav a:hover {
  color: #000000;
}

.legend-nav code {
  font-size: 0.7em;
  color: #2c3e50;
  background: rgba(44, 62, 80, 0.1);
}

blockquote {
  margin: 2em;
}

blockquote p {
  font-size: 1em;
  line-height: 200%;
  text-align: justify;
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #f2756a;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #e74c3c;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

#sidebar-nav {
    list-style-type: none;
    margin-top: 3em;
    padding: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: center;
    font-size: 16pt;
    text-decoration: none;
}

a:hover {
  text-decoration:none;
  cursor:pointer;
}

#page-content {
  padding: 0pt;
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  line-height: 200%;
}

.notebooks-list {
  list-style-type: none;
}

.notebooks-list {
  padding-left: 0;
}

.notebooks-list code {
  background: rgba(44, 62, 80, 0.1);
}
.notebooks-list a {
  color: #2c3e50;
}

@media only screen and (max-width: 768px) {
  .turk-hero img {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
  }
  .legend-nav {
    padding-top: 0px;
    margin-top: 0px;
  }
  .navbar {
    margin-bottom: 0;
  }
  .notebook-header {
    padding: 1em;
  }
  .page-body {
    margin: 1em;
  }
  .page-body h1 {
    margin-top: 10px;
  }
  blockquote {
    margin: 0em;
  }
  blockquote p {
    text-align: left;
  }
  img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: auto;
    max-width: 100%;
  }
  div {
    overflow: scroll;
    max-width: 100%;
  }
  .page-header h1 {
    left: 8px;
    bottom: 8px;
    margin-right: 8px;
    font-size: 1em;
  }
  .page-image {
    max-width: 100% !important;
  }
  .page-arrow {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    max-width: 20% !important;
  }
}
